<!-- Begin Page Content -->
<div
        class="container-fluid"
        th:fragment="contentContainer ()"
>

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" th:text="${contentTitle}"></h1>
    </div>

    <th:block if="${topItems instanceof T(dev.coffeebeanteam.spotifyshare.dto.ui.content.TopItemsGalleryDto}">
        <th:block th:insert="fragments/content/top-items-gallery :: topItemsGallery (${topItems})"></th:block>
    </th:block>

</div>
<!-- /.container-fluid -->
