<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Error</title>
    <style>
        body, html {
          margin: 0;
          padding: 0;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #f9f9f9;
          font-family: Arial, Helvetica, sans-serif;
        }
        .container {
          text-align: center;
        }
        .emoji {
          font-size: calc(50vh);
        }
        .number {
          font-size: calc(50vh);
        }
    </style>
</head>
<body>
<div class="container">
    <span class="number">4</span>
    <span class="emoji">&#128169;</span>
    <span class="number">4</span>
    <p>
        The page you are looking for does not exist.
        Try the <a href="/dashboard">Dashboard</a>.
    </p>
</div>
</body>
</html>
